@import "./Components/nav";
@import "./Components/header";
@import "./Components/bg";
@import "./Components/gallery";
@import "./Components/footer";



body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}









