*{
    margin:0;
}

div{
    height:100vh;
    background-color:rosybrown;
    background-image: url("https://images.unsplash.com/photo-1727460198311-b30af35bceb2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: /*contain */ cover;
    background-position: center;
    background-attachment: fixed;  /*Make the picture has effect when scrolled the web page */
    /*background: url("https://images.unsplash.com/photo-1727460198311-b30af35bceb2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")*/
    /*!*no-repeat center / cover fixed;     NOT RECOMMENDED*!*/
}