body{
    background-color: black;
}

#poster{
    text-align: center;
    margin-left: 5%;
    color: white;
    width: 90%;
    margin-top: 100px;
}

h1{
    font-size: 3rem;
    /* text-transform: capitalize;   Capitalize all first letters */
    text-transform: uppercase;
}



#my-lovely-cat{
    width: 100%;
    border: 5px solid white
}