div{
    border: 2px solid black;
    display: flow-root;   
}
#img1{
    width: 200px;
    float: left;
}

#img2{
    width: 300px;
    float: right;
}

/* clear: both (right, left);   means clear the float left and right */